# XANES LED badge
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0416", ATTRS{idProduct}=="5020", MODE="0660", GROUP="plugdev"
#SUBSYSTEM=="hidraw", ACTION=="add", ATTRS{idVendor}=="0416", ATTRS{idProduct}=="5020", GROUP="plugdev"
